.Top_of_Page{
    text-align: center;
}
div.About{
    font-size: 20px;
    color:black;
    
}
h1{
    font-size: 40px;
    padding-bottom: 5px;
    text-align: center;
}
ul li{
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    display:inline;
    margin-inline: 5px ;
}
.My_Projects_Page{
    text-align: center;
    position: relative;
    bottom:20px;
    text-transform: capitalize;
}
figure{
    display: inline-block;
}
figure figcaption{
    text-align: center;
}