*{
    font-size: 20px;
    color:white;
    font-weight: bold;
}
body{
    background-color:whitesmoke;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-image: url("../CSS/image/DSC_0360.JPG");/*The image resource must be in the proper file, and the proper relative path must be given*/
    opacity: 1;
}
h1{
    font-size: 40px;
    padding-bottom: 5px;
    text-align: center;
}
h2{
    text-align: center;
}
.Top_of_Page{
    text-align: center;
}
a{
    background-color:rgb(214, 207, 198);
    text-decoration: none;
    border-bottom: solid;
    border-color:rgb(54, 184, 227);
    font-weight: bold;
    color:indigo;
    cursor:pointer;
}
a.active{
    background: white;
    color:red;
}
a:hover{
    background: yellowgreen;
    display: inline;
}
div.About{
    color:black;
}
ul li{
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
    display:inline;
    margin-inline: 5px;
}
#name {
    color: black;
    margin-right: 30px;
    margin-top: 10px;
}
#email{
    color: black;
}
.Contact label{
    margin-top: 10px;
    text-transform: capitalize;
}
.Contact textarea{
    text-transform: capitalize;
    color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#submit{
    font-weight: bold;
    border: none;/*I could not get only border-bottom without this*/
    border-bottom: solid;
    border-color: rgb(54, 184, 227);
    color: indigo;
    cursor: pointer;
}
#submit:hover{
    background-color: yellowgreen;
    display: inline;
}
#submit.active{
    background: white;
    color: red;
}

.My_Projects_Page{
    text-align: center;
    position: relative;
    bottom:20px;
    text-transform: capitalize;
}
figure{
    display: inline-block;
}
figure figcaption{
    text-align: center;
}
#Top{
    text-transform: capitalize;
}