*{
    font-size: 20px;
    color:white;
    font-weight: bold;
}
#name{
    color: black;
}
#email{
    color: black;
}
textarea{
    color: black;
}
.Top_of_Page{
    text-align: center;
}
a:hover{
    background: yellowgreen;
    display: inline;
}
a.active{
    background: white;
    color:red;
}
a{
    background-color:rgb(214, 207, 198);
    text-decoration: none;
    border-bottom: solid;
    border-color:rgb(54, 184, 227);
    font-weight: bold;
    color:indigo;
    cursor:pointer;
}
div.About{
    color:black;
}   
h1{
    font-size: 40px;
    padding-bottom: 5px;
    text-align: center;
}
ul li{
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
    display:inline;
    margin-inline: 5px;
}
.My_Projects_Page{
    text-align: center;
    position: relative;
    bottom:20px;
    text-transform: capitalize;
}
figure{
    display: inline-block;
}
figure figcaption{
    text-align: center;
}
body{
    background-color:whitesmoke;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-image: url("../CSS/image/DSC_0360.JPG");/*The image resource must be in the proper file, and the proper relative path must be given*/
    opacity: 1;
}
